/* ESSE .CSS PERTENCE AO TESTES.HTML */

*{
    font-family: 'Cinzel', serif;
}

.logo{
    font-size: 50px;
}
#background{
    background-color: white !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0vh;
    padding: 0vh;
    width: 100vh;
    
    position: relative;
    
    padding-left: 100px;  
   
}

.navbar-brand i{
    padding-left: 110px;
}

.nav-item{
    padding: 0 10px;
    margin-right: 20px;
    margin-left: 50px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-radius: 1px;
  
}

.nav-item:hover{
    
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color: white;
    border-radius: 1px;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    padding-bottom: 20px;
}

#testes{
    background-image: url("../images/fundopreto.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
#testes p{
    font-size: 18px;   
    padding-top: 30px; 
}
#testes h1{
    color: gold;
    padding-top: 10px; 
}

#testes .col{
    color: white;
}

#robologo{
    margin-top: 10px;
}

#robologo:hover{
    margin-top: 10px;
    color: gold;
}

.nav-link:hover{
    color: gold !important;
    
}

#gif1{
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

footer {
	text-align: center;
	padding: 5px;
	color: white;
	background-color: rgb(31, 29, 29);
    
	
}
  footer p{
      margin-top: 15px;
  }
