/* ESSE .CSS PERTENCE AO SOBRE.HTML */

*{
    font-family: 'Cinzel', serif;
}

.logo{
    font-size: 50px;
}

#menu{
    background-image: url("../images/background1.png");
    background-size: cover;
    background-repeat: repeat;
    background-size: 1920px 1080px;
 
    
    
}

#background{
    background-color: white !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0vh;
    padding: 0vh;
    width: 100vh;
    
    position: relative;
    
    padding-left: 100px;  
   
}

.navbar-brand i{
    padding-left: 110px;
}

.nav-item{
    padding: 0 10px;
    margin-right: 20px;
    margin-left: 50px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-radius: 1px;
}

.nav-item:hover{
    
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color: white;
    border-radius: 1px;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    padding-bottom: 20px;
}

#menu{
    height: 1000px;
}

#menu h1{
    color: white;
    text-align: center;
    padding-top: 200px;
}
#menu p{
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
   white-space: pre-line;
 
    
    
    
}

.galeria{
    padding-top: 30px;
    padding-left: auto;
    padding-right: auto;
    max-width: 100%;
   
}

#robologo{
    margin-top: 10px;
}

#robologo:hover{
    margin-top: 10px;
    color: gold;
}

.nav-link:hover{
    color: gold !important;
    
}

footer {
	text-align: center;
	padding: 5px;
	color: white;
	background-color: rgb(31, 29, 29);
    
}
  footer p{
      margin-top: 15px;
  }

